$primay: #000033;
$secondary: #ffcc00;
$text: #b3d5f2;
$accent: #ff33ff;

.tabela-tamanhos-title {
    color: $secondary;
}

.tabela-tamanhos {
    border: none;
    color: #9c9e9f;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.9rem;
    tr:nth-child(even) {
        background-color: #f6f8fa;
    }
    tr:nth-child(odd) {
        background-color: #fcfeff;
    }
    thead {
        // text-transform: uppercase;
        tr:nth-child(odd) {
            background-color: #dddede;
        }
    }
    tr {
        th,
        td {
            padding: 0.5em 1em;
        }
    }
}
