$primay: #000033;
$secondary: #ffcc00;
$text: #b3d5f2;
$accent: #ff33ff;

.tabela-tamanhos-title {
    color: $secondary !important;
}

.tabela-tamanhos-wrapper {
    display: inline-block;
    border: $secondary 2px solid;
    border-radius: 15px;
}

.tabela-tamanhos {
    background-color: transparent;
    color: $accent;
    text-align: center;
    font-size: 0.9rem;
    border-collapse: collapse;
    thead {
        color: $secondary;
        border-bottom: $secondary 2px solid;
    }
    tr {
        th,
        td {
            border-right: $secondary 2px solid;
            padding: 0.5em 1em;
            // border-collapse: collapse;
            &:last-child {
                border-right: none;
            }
        }
    }
}
